.ai-image-generator {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  /* padding: 30px; */
}

.header {
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 10px;
}

.header span {
  color: var(--primary);
  font-weight: 600;
}

.sub-header {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary);
}

.image-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.img-loading img {
  width: 420px;
}

.search-box {
  display: flex;
  width: 600px;
  height: 95px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #1f3540;
  margin-top: 10px;
  padding-right: 5px;
}

.search-input {
  width: 600px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  padding-left: 35px;
  margin-right: 35px;
}

.search-input::placeholder {
  color: #999;
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 85px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  background: var(--primary);
  cursor: pointer;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.loading-bar {
  width: 0px;
  height: 8px;
  background: var(--primary);
}

.loading-text {
  font-size: 16px;
}

.loading-bar-full {
  width: 420px;
  height: 8px;
  background: var(--primary);
  transition: 17s;
}

.display-none {
  visibility: hidden;
}
